NODE_ENV=production
DATABASE_URL="mongodb+srv://<user>:<password>@agrogeroicluster.qvsevtd.mongodb.net/agrogeroi?retryWrites=true&w=majority"
PORT=3001
FRONTEND_URL=https://agrogeroi.com
NEXTAUTH_URL=https://agrogeroi.com
